<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.econstat_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EConstat_Android"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name=".ViewModel.carB_DamageActivity" />
        <activity android:name=".ViewModel.carA_DamageActivity" />
        <activity android:name=".ViewModel.changePwd" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ViewModel.LoginActivity" />
        <activity android:name=".ViewModel.ForgetPwdActivity" />
        <activity android:name=".ViewModel.changePwdActivity" />
        <activity
            android:name=".ViewModel.forgetPwdOtpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ViewModel.SignUpActivity" />
        <activity
            android:name=".ViewModel.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>